<!DOCTYPE html>
<html>
<%- partial('partials/head') %>

  <body>
    <div class="body-container">
      <div class="body-main">
        <div class="header-wrapper"><%- partial('partials/header') %></div>
        <div class="main-wrapper"><%- body %></div>
        <div class="footer-wrapper"><%- partial('partials/footer') %></div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    var searchXMLPath = "<%= config.url %>" + "/" + "<%= config.search.path %>"
    console.log(searchXMLPath)
  </script>
  <%- js('/js/search/search.js') %>
</html>