<main>
  <div class="main-container">
      <div class="post-details">
          <% if (is_post()) { %>
            <div class="post-title">
              <h1><%= page.title %></h1>
            </div>
          <% } %>
          <div class="post-content">
            <%- page.content %>
          </div>
          <% if(theme.meta.enable) {%>
            <div class="dot-line"></div>
            <div class="post-meta">
              <div class="post-date">
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="post-date"><%= date(page.date, 'YYYY/MM/DD') %></span>
              </div>
              <div class="post-tags">
                <% if(page.tags) { %>
                  <div class="tag-item">
                    <a href="#"><i class="fa fa-tag"></i>&nbsp;&nbsp;Untagged</a>
                  </div>
                <% }
                else { %> 
                  <% page.tags.each(function(tag) { %>
                    <div class="tag-item">
                      <a href="<%- url_for(tag.path) %>"><i class="fa fa-tag"></i>&nbsp;&nbsp;<%= tag.name %></a>
                    </div>
                  <%})%>
                <% } %>
              </div>
            </div>
          <%} %>
      </div>
  </div>
</main>
<% if (theme.utterances && theme.utterances.enable && page.comments) { %>
<!-- <script src="https://utteranc.es/client.js"
  repo="<%= theme.utterances.repo %>"
  issue-term="<%= theme.utterances.issueTerm %>"
  theme="<%= theme.utterances.theme %>"
  crossorigin="anonymous"
  async>
</script> -->
<script src="https://giscus.app/client.js"
        data-repo="maodaisuki/hexo-theme-maoblog"
        data-repo-id="R_kgDOKICkkw"
        data-category="Announcements"
        data-category-id="DIC_kwDOKICkk84CZEWg"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
<!-- 前往 https://giscus.app 获取配置代码 -->
<% } %>
<% if (theme.mermaid.enable) { %>
  <%- js('/js/mermaid.min.js') %>
<% } %>
<%- js('/js/zoom/jquery.min.js') %>
<%- js('/js/zoom/bootstrap.min.js') %>
<%- js('/js/zoom/zoom.js') %>
<%- js('/js/maoblog.js') %>
<%- js('/js/prism.js') %>