<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport" />
  <link rel="alternate icon" type="image/png" href="<%- url_for('/img/favicon.ico') %>">
  <title>
    <% if (page.title) { %>
      <%= page.title %> |
    <% } %> 
    <%= config.title %>
  </title>
  <%- css('css/maoblog') %>
  <%- css('css/partials/post') %>
  <%- css('css/partials/comment') %>
  <%- css('css/partials/search') %>
  <%- css('css/partials/meta') %>
  <%- css('fontawesome/css/font-awesome.min') %>
  <%- css('css/zoom.css') %>
  <%- css('css/prism.css') %>
</head>
