<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport" />
    <link rel="alternate icon" type="image/png" href="<%- url_for('/img/favicon.ico') %>">
    <link rel="stylesheet" href="//css/maoblog.styl" />
    <title>
        <% if (page.title) { %>
            <%= page.title %> |
        <% } %> 
        <%= config.title %>
    </title>
    <%- css('css/maoblog') %>
    <%- css('fontawesome/css/font-awesome.min') %>
</head>