<div class="header">
  <a class="logo" href="<%- url_for() %>"><%= config.title %></a>
  <ul class="nav">
    <% for (name in theme.menu) { %>
      <% if(name === "Search") { %>
        <li><a style="cursor: pointer;" onclick="openSearchBar()"><%= name %></a></li>
      <% } else { %>
        <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
      <% }%>
    <% } %>
    <!-- <li class="site-mode">light</i></li> -->
  </ul>
</div>
<%- partial('partials/search') %>